name: forcefields-dev
channels:
  - conda-forge
dependencies:
  - bump2version
  - codecov
  - foyer
  - pytest
  - pre-commit
  - pip
  - unyt
  - pydantic
  - lxml
  - boltons
  - numpy
  - sympy
  - ele
  - pip:
      - "--editable=git+https://github.com/rsdefever/antefoyer.git#egg=antefoyer"
      - "--editable=git+https://github.com/mosdef-hub/gmso.git#egg=gmso"
